@import '@xyflow/react/dist/style.css' layer(base);
@import "tailwindcss";
@source "../**/*.{js,jsx,ts,tsx,html}";

@font-face {
  font-family: 'DMSans';
  src: url('../../assets/fonts/DMSans.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EncodeSans';
  src: url('../../assets/fonts/EncodeSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-surface: #10141a;
    --color-surface-dim: #10141a;

    --color-surface-container-lowest: #0b0e15;
    --color-surface-container-low: #181c22;
    --color-surface-container: #1d2024;
    --color-surface-container-high: #262a31;
    --color-surface-container-h: #33343a;
    --color-on-surface: #e2e2e9;

    --color-primary: #b0c6ff;
    --color-primary-container: #2c91ff;
    --color-on-primary-container: #00254b;

    --color-outline: #8a919f;
    --color-outline-b: #404754;

    --font-default: 'DMSans', sans-serif;

}

:root {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-default);
}


