@import '@xyflow/react/dist/style.css' layer(base);
@import "tailwindcss";


@theme {
    --color-surface: #111318;
    --color-surface-container: #1d2024;
    --color-surface-container-h: #33343a;
    --color-on-surface: #e2e2e9;

    --color-primary: #b0c6ff;
    --color-primary-container: #2c91ff;
    --color-on-primary-container: #00254b;

    --color-outline: #8a919f;
    --color-outline-b: #404754;

}

:root {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}
